* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #303535;

}

.settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 30px;
    background-color: #303535;
    border: 1px solid darkturquoise;
    margin: 0 auto;
    border-radius: 10px;

}

.input_data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: darkturquoise;

}
.input_data_error {
    color: red;
    border: 3px solid red;
    background-color: #9e6e6e;
}
input {
    border-radius: 5px;
    border: 3px solid darkturquoise;
    text-align: center;
    padding: 5px

}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 50%;
    gap: 30px;
    padding: 30px;

    border: 1px solid darkturquoise;
    margin: 0 auto;
    border-radius: 10px;
}


.cifra {
    background-color: #303535;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkturquoise;
    padding: 10px 25px;
    font-size: 40px;
    margin: 10px;
    border-radius: 10px;
    color: darkturquoise;
}

.button {
    background-color: darkturquoise;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: blue;
    padding: 10px 25px;
    border: 1px solid darkturquoise;
    border-radius: 10px;

    cursor: pointer;
    font-size: 20px;
}

.button:disabled {
    cursor: not-allowed;
    color: red;
    opacity: 0.6;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 25px;
    border: 1px solid darkturquoise;
    border-radius: 10px;
}

